version: "3.7"

services:
  consul-server1:
    image: consul
    container_name: consul-server1
    restart: always
    #networks:
    #  - consul
    ports:
      - '8500:8500'
      - '8600:8600/tcp'
      - '8600:8600/udp'

  businessassistantbcn-mydata:
    image: babcn:mydata-v1.0-SNAPSHOT
    container_name: mydata-v1.0-SNAPSHOT
    restart: "no"
    ports:
     - "7779:8763"
  # environment:
  #   - "JAVA_OPTS=-Xms128m -Xmx512m -server"
  # logging:
  #   driver: "json-file"
  #   options:
  #     max-size: "100k"
  #     max-file: "10"

  businessassistantbcn-mysql:
    container_name: mysql-businessassistantbcn
    image: mysql
    #command: --default-authentication-plugin=mysql_native_password
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: kIFQRsP8BRpODROvy5
      #MYSQL_ALLOW_EMPTY_PASSWORD: true
      MYSQL_DATABASE: businessassistantbcndb
      MYSQL_USER: admin
      MYSQL_PASSWORD: Sb13TU7hw1oCbSIJ
    volumes:
        - /home/Jonatan/projects/IntelliJ_projects/IT-Academy/BusinessAssistantBCN-backend/BusinessAssistant-mydata/src/main/resources/scripts-mysql:/home/scripts/
        - businessassistantbcn_db_data:/var/lib/mysql
        - businessassistantbcn_db_log:/var/log/mysql

  businessassistantbcn-opendata:
    image: babcn:opendata-v1.0-SNAPSHOT
    container_name: opendata-v1.0-SNAPSHOT
    restart: "no"
    networks:
      - consul
    ports:
      - "7777:8762"
    #environment:
       #   - "JAVA_OPTS=-Xms128m -Xmx512m -server"
       # logging:
       #   driver: "json-file"
       #   options:
       #     max-size: "100k"
      #     max-file: "10"

  businessassistantbcn-usermanagement:
    image: babcn:usermanagement-v1.0-SNAPSHOT
    container_name: usermanagement-v1.0-SNAPSHOT
    restart: "no"
    ports:
      - "7778:8763"
        #environment:
        #   - "JAVA_OPTS=-Xms128m -Xmx512m -server"
        # logging:
        #   driver: "json-file"
        #   options:
      #     max-size: "100k"
      #     max-file: "10"

  businessassistantbcn-mongodb:
    container_name: mongodb-businessassistantbcn
    image: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: UhWQQYFVBx95W7
    ports:
      - 27017:27017
    volumes:
      - businessassistantbcn_mongodb_data:/var/lib/mongodb

  portainer:
    container_name: portainer-babcn
    image: portainer/portainer
    ports:
      - "9500:9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data

volumes:
    businessassistantbcn_db_data:
    businessassistantbcn_db_log:
    businessassistantbcn_mongodb_data:
    portainer_data:

networks:
  consul:
    driver:
      bridge
