version: '3.7'

services:
  consul-server1:
    image: consul:1.12.3
    container_name: consul-server1
    restart: always
    volumes:
      - ./server1.json:/consul/config/server1.json:ro
    networks:
      consul-net:
        ipv4_address: 172.24.2.0
    ports:
      - '8500:8500'
      - '8600:8600/tcp'
      - '8600:8600/udp'
    command: 'agent -bootstrap-expect=3'

  consul-server2:
    image: consul:1.12.3
    container_name: consul-server2
    restart: always
    volumes:
      - ./server2.json:/consul/config/server2.json:ro
    networks:
      consul-net:
        ipv4_address: 172.24.2.1
    command: "agent -bootstrap-expect=3"

  consul-server3:
    image: consul:1.12.3
    container_name: consul-server3
    restart: always
    volumes:
      - ./server3.json:/consul/config/server3.json:ro
    networks:
      consul-net:
        ipv4_address: 172.24.2.2
    command: "agent -bootstrap-expect=3"

      #consul-client-mongodb:
      # image: consul:1.12.3
      #container_name: consul-client-mongodb
      #restart: always
      #volumes:
      #- ./consul-client-mongodb.json:/consul/config/client.json:ro
      #networks:
    #consul-net:
    # ipv4_address: 172.24.2.3
    #command: "agent"

  businessassistantbcn-opendata:
    image: '${REGISTRY_NAME}:opendata-${OPENDATA_TAG}'
    container_name: 'opendata-${OPENDATA_TAG}'
    restart: always
    networks:
      consul-net:
        ipv4_address: 172.24.2.4
    ports:
      - '${OPENDATA_CONTAINER_PORT}:8762'
    environment:
      - 'security.datasource.secret=${LOGIN_JWT_SIGNING_KEY}'

  businessassistantbcn-gencat:
    image: babcn:gencat-v1.0-SNAPSHOT
    container_name: gencat-v1.0-SNAPSHOT
    restart: always
    networks:
      consul-net:
        ipv4_address: 172.24.2.5
    ports:
      - '${GENCAT_CONTAINER_PORT}:8762'

  businessassistantbcn-usermanagement:
    image: babcn:usermanagement-v1.0-SNAPSHOT
    container_name: usermanagement-v1.0-SNAPSHOT
    restart: always
    networks:
      consul-net:
        ipv4_address: 172.24.2.6
    ports:
      - '${USERMANAGEMENT_CONTAINER_PORT}:8763'
    environment:
      - 'spring.data.mongodb.host=172.24.0.1'
      - 'spring.data.mongodb.port=27018'
      - 'spring.data.mongodb.username=admin_businessassistantbcn'
      - 'spring.data.mongodb.password=UhWQQYFVBx95W7'
      - 'spring.data.mongodb.database=babcn-users'


  businessassistantbcn-mydata:
    image: babcn:mydata-v1.0-SNAPSHOT
    container_name: mydata-v1.0-SNAPSHOT
    restart: always
    networks:
      consul-net:
        ipv4_address: 172.24.2.7
    ports:
      - '${MYDATA_CONTAINER_PORT}:8763'
    environment:
      - 'spring.datasource.url=jdbc:mysql://172.24.0.1:3307/businessassistantbcndb?useSSL=false&allowPublicKeyRetrieval=true'
      - 'spring.datasource.username=admin'
      - 'spring.datasource.password=Sb13TU7hw1oCbSIJ'

  businessassistantbcn-login:
    image: 'itacademybcn/businessassistant-bcn:login-${LOGIN_TAG}'
    container_name: 'login-${LOGIN_TAG}'
    restart: always
    networks:
      consul-net:
        ipv4_address: 172.24.2.8
    ports:
      - '${LOGIN_CONTAINER_PORT}:8761'
    environment:
      - 'security.datasource.secret=${LOGIN_JWT_SIGNING_KEY}'
      - 'security.testuser.password=${LOGIN_SECURITY_TESTUSER_PASSWORD}'
      - 'security.superuser.password=${LOGIN_SECURITY_TESTUSER_PASSWORD}'


  businessassistantbcn-mongodb:
    container_name: mongodb-businessassistantbcn
    image: mongo:5.0.9
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin_businessassistantbcn
      MONGO_INITDB_ROOT_PASSWORD: UhWQQYFVBx95W7
      MONGO_INITDB_DATABASE: babcn-users
    ports:
      - '${MONGODB_CONTAINER_PORT}:27017'
    volumes:
      - businessassistantbcn_mongodb_data:/var/lib/mongodb
      - ../BusinessAssistant-usermanagement/src/main/resources/mongodb-init:/docker-entrypoint-initdb.d
      - ../BusinessAssistant-usermanagement/src/main/resources/mongodb-test-data:/tmp/data/
    networks:
      consul-net:
        ipv4_address: 172.24.2.9

  businessassistantbcn-mysql:
    container_name: mysql-businessassistantbcn
    image: mysql
    #command: --default-authentication-plugin=mysql_native_password
    restart: always
    ports:
      - '${MYSQL_CONTAINER_PORT}:3306'
    environment:
      MYSQL_ROOT_PASSWORD: kIFQRsP8BRpODROvy5
      #MYSQL_ALLOW_EMPTY_PASSWORD: true
      MYSQL_DATABASE: businessassistantbcndb
      MYSQL_USER: admin
      MYSQL_PASSWORD: Sb13TU7hw1oCbSIJ
    volumes:
      - ../BusinessAssistant-mydata/src/main/resources/mysql-init:/docker-entrypoint-initdb.d
      - ../BusinessAssistant-mydata/src/main/resources/mysql-test-data:/tmp/data
      - businessassistantbcn_db_data:/var/lib/mysql
      - businessassistantbcn_db_log:/var/log/mysql
    networks:
      consul-net:
        ipv4_address: 172.24.2.10

  businessassistantbcn-nginx: #docker run -it -p 80:80 babcn:nginx-frontend2-v1.0.0-SNAPSHOT
    container_name: nginx-businessassistantbcn
    image: '${REGISTRY_NAME}:nginx-frontend2-${NGINX_FRONTEND_TAG}'
    restart: always
    ports:
      - '${NGINX_CONTAINER_PORT}:80'
    networks:
      consul-net:
        ipv4_address: 172.24.2.11

volumes:
  businessassistantbcn_mongodb_data:
  businessassistantbcn_db_data:
  businessassistantbcn_db_log:

networks:
  consul-net:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.24.2.0/16
