spring:
  application:
    name: businessassistant-login
  jmx:
    enabled: true
  #Spring profiles available:
  #   - dev: disable security
  #   - pro: enable JWT security
  profiles:
    active:
      - pro

springdoc:
  swagger-ui:
    path: "/swagger-ui-custom.html"
    operationsSorted: method
  api-docs:
    enable: true
    path: "/api-docs"

server:
  port: 8761

management:
  endpoints:
    web:
      exposure:
        include: "*"

security:
  datasource:
    signUpUrl: /businessassistantbcn/api/v1/login
    secret: SgVkYp3s6v9y$B&E)H+MbQeThWmZq4t7
    # Mind the trailing white space below!
    tokenPrefix: Bearer 
    # 10 hours, expressed in milliseconds
    expiresIn: 36_000_000
    authoritiesClaim: authorities
    err: Auth Error, Token Unavailable
    userManagementUrl: http://localhost:8763/businessassistantbcn/api/v1/usermanagement/user
  testuser:
    email: jvicente@gmail.com
    password: 56589pp05s
    roles: [ADMIN]
  superuser:
    email: uebermensch@zarathustra.com
    roles: [SUPERUSER]
    apisecurity:
      name: businessassistantbcn
      roles: [ SUPERADMIN ]
      secret: UXB0UCkWSyqOWMdZK1xAqpttUojhWXXm
      tokenPrefix: Bearer
      authoritiesClaim: authorities
      err: Auth Error, Token Unavailable
      #apiToken: eyJhbGciOiJIUzI1NiJ9.eyJuYW1lIjoiYnVzaW5lc3Nhc3Npc3RhbnRiY24iLCJhdXRob3JpdGllcyI6WyJTVVBFUkFETUlOIl0sImlhdCI6MTY1MzQ2ODk3MH0.RoQBQuf1KIKOYb__lszw-L7fHVs1cIxzC0ewlifGEco

url:
  # 30 seconds, expressed in milliseconds
  connection_timeout: 30000

logging:
  level:
    root: INFO
    "[org.springframework]": ERROR
    "[com.businessassistantbcn]": INFO
  pattern:
  # console: Spring's default
    file: "%date %5level %-40.40logger{39} [%thread] %msg%n"
#  file:
#    name: login.log